h1 {
    margin-bottom: 20px;
}

#datetime-picker {
    width: 210px
}

.start-button {
    width: 50px
}

.timer {
    display: flex;
    margin-top: 20px;
}

.field {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    align-items: center;
}

.value {
    font-family: arial;
    font-size: 35px;
}

.label {
    font-family: arial;
    font-size: 17px;
}